[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Boilerplate project for embedded c++
[access "refs/*"]
	owner = group user/StevenvdSchoot
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/StevenvdSchoot
	label-Verified = -1..+1 group user/StevenvdSchoot
	push = group user/StevenvdSchoot
	read = group user/StevenvdSchoot
	rebase = group user/StevenvdSchoot
	removeReviewer = group user/StevenvdSchoot
	submit = group user/StevenvdSchoot
[access "refs/heads/*"]
	create = group user/StevenvdSchoot
	push = +force group user/StevenvdSchoot
	pushMerge = group user/StevenvdSchoot
	read = group user/StevenvdSchoot
[access "refs/tags/*"]
	push = group user/StevenvdSchoot
	push = +force group user/StevenvdSchoot
