[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Boilerplate project for embedded c++
[access "refs/*"]
	owner = group user/Steven van der Schoot (StevenvdSchoot)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Steven van der Schoot (StevenvdSchoot)
	label-Verified = -1..+1 group user/Steven van der Schoot (StevenvdSchoot)
	push = group user/Steven van der Schoot (StevenvdSchoot)
	read = group user/Steven van der Schoot (StevenvdSchoot)
	rebase = group user/Steven van der Schoot (StevenvdSchoot)
	removeReviewer = group user/Steven van der Schoot (StevenvdSchoot)
	submit = group user/Steven van der Schoot (StevenvdSchoot)
[access "refs/heads/*"]
	create = group user/Steven van der Schoot (StevenvdSchoot)
	push = +force group user/Steven van der Schoot (StevenvdSchoot)
	pushMerge = group user/Steven van der Schoot (StevenvdSchoot)
	read = group user/Steven van der Schoot (StevenvdSchoot)
[access "refs/tags/*"]
	push = group user/Steven van der Schoot (StevenvdSchoot)
	push = +force group user/Steven van der Schoot (StevenvdSchoot)
